/* tables */
.table-list table {
	font-family:arial;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
.table-list table thead tr th, .table-list table tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
}

.table-list table thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.table-list table tbody tr .odd td {
	background-color:#F0F0F6;
}
.table-list table thead tr .headerSortUp {
	background-image: url(asc.gif);
}
.table-list table thead tr .headerSortDown {
	background-image: url(desc.gif);
}
.table-list table thead tr .headerSortDown, .table-list table thead tr .headerSortUp {
background-color: #8dbdd8;
}

.table-list tr:hover, .table-list table tbody tr:hover{
    background: none repeat scroll 0 0 #FFFFE1;
}

/*home*/
.table_list thead tr th, .table_list tfoot tr th {
    background: #FDF9F1;
}
.table_list thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

.table_list tbody tr .odd td {
	background-color:#F0F0F6;
}
.table_list thead tr .headerSortUp {
	background-image: url(asc.gif);
}
.table_list thead tr .headerSortDown {
	background-image: url(desc.gif);
}



/*ask*/
.wrapper{width:900px;margin:30px auto;}
.wrapper .orange{color:#f60;}
.ask{padding:20px;background:#f5f5f5;border:1px solid #ddd;}
.ask dt{font-size:14px;color:#333;margin-bottom:10px;}
.ask dt span{display:inline-block;background:#f60;color:#fff;height:20px;line-height:20px;width:20px;text-align:center;margin-right:5px;}
.ask .oper{color:#999;margin-top:10px;}
.ask .oper .orange{margin: 0 10px;}
.answer{margin: 10px 0;}
.answer dl{padding: 15px 0;border-bottom:1px dotted #ddd;}
.answer dt{margin-bottom:10px;}
.answer dt span{margin-right:10px;}

.answer_btn {background:#f61;color:#fff;height:24px;line-height:24px;padding:0 15px;border-radius:3px;display:inline-block;margin-right:10px;cursor:pointer;}
.answer_btn:link,.answer_btn:visited{color:#fff;}
.close_btn{background:#efefef;color:#666;height:24px;line-height:24px;padding:0 15px;border-radius:3px;display:inline-block;}